div.bricks-wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  width: max-content;
  height: max-content;
  padding: 6px;

  overflow: hidden;
  
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

div.brick {
  height: 30px;
  width: 5px;
  margin: 0px 0.5px;
}

div.brick.white {
  background-color: #fff;
}

div.brick.transparent {
  opacity: 0.3;
}

div.brick.red {
  background-color: rgb(192, 0, 0);
}

div.brick.red.blink {
  animation: blink 0.35s infinite steps(1);
}

@keyframes blink {
  0% {
    background-color: #fff;
  }
  49.9% {
    background-color: #fff;
  }
  50% {
    background-color: rgb(192, 0, 0);
  }
  100% {
    background-color: rgb(192, 0, 0);
  }
}